
body {
    font-family: 'Arial', sans-serif, system-ui;
    margin: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-image: url('scene.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}	

    
.container {
    
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 25px;
    padding-top:  auto;
    width: 800px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
     
}

h1 {
    font-family: buffalo;
    color: #000000;
    margin-right: auto;
    
}

h4 {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    font-family: system-ui;
    border-radius: 20px;
    width: 500px ;
    padding: 10px;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
    
}

h5 {
    background: rgba(95, 244, 255, 0.1);
    border-radius: 10px;
    width: 100px ;
    padding: 10px;
    margin-left: 600px;
    margin-top: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
}
.input-container {
    text-align: center;
    margin-bottom: 20px fixed;
    
}

input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #0f76ec;
    color: #fff;
    border: none;
    border-radius: 10px;
}


button:hover {
    background-color: #1f2025;
}

ul {
    list-style-type: none;
    padding: 0;
    
}

li {
    background: rgba(24, 219, 233, 0.2);
    padding: 10px;
    margin-bottom: 5px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.del-btn {
    cursor: pointer;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 4px;
}





    

